@page "/acerca_de_mi"

<PageTitle>Acerca de</PageTitle>

<div class="container mt-4">
    <h1>Acerca de mi</h1>

    <div class="text-center">
        <img src="https://plataformavirtual.itla.edu.do/pluginfile.php/565529/user/icon/fordson/f1?rev=67645486" alt="mi foto" class="rounded-circle img-thumbnail" style="width: 150px; height: 150px;" />
    </div>

    <div class="mt-4 text-center">
        <h2>Rolando Paulino</h2>
        <p>Estudiante de Programación</p>
    </div>

    <hr />

    <div class="text-center mt-4">
        <p>💬 Puedes contactarme por:</p>

        <p>
            <a href="https://wa.me/18093063046" target="_blank" class="btn btn-success">
                 WhatsApp
            </a>

            <a href="https://t.me/xlpaulino" target="_blank" class="btn btn-primary">
                 Telegram
            </a>
        </p>

        <p>✉️ Correo: <a href="mailto:20231090@itla.edu.do">20231090@itla.edu.do</a></p>
    </div>
</div>